{% extends "dummy.html" %}
{% block content %}
<form action="/" method="GET"  id = "Change" onload=getColor() >
   <label  class="fs-1" > Color Is {{Color}}  </label>
   <br>
   <label id  = "color_res_label"> RGB is = Red = {{red}}, Green = {{green}} , Blue = {{blue}} </label>
   <aside>
    <button type="button" class="btn btn-outline-danger" onclick="btnClicked()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path>
</svg>
      Click To Copy Color
    </button>
</aside>
    <input type="submit" class="file btn btn-lg btn-primary"  value="Click Here To Go Back">
    
</form>

<script>
window.onload = function() {
    let cl = document.getElementById("Change")
    cl.style.backgroundColor='rgb({{red}},{{green}},{{blue}})';
    }
   
function btnClicked(){
    
    let val = 'rgb({{red}},{{green}},{{blue}})'
  copyStringToClipboard(val)
    alert("Copied")
}
function copyStringToClipboard (str) {
   // Create new element
   var el = document.createElement('textarea');
   // Set value (string to be copied)
   el.value = str;
   // Set non-editable to avoid focus and move outside of view
   el.setAttribute('readonly', '');
   el.style = {position: 'absolute', left: '-9999px'};
   document.body.appendChild(el);
   // Select text inside element
   el.select();
   // Copy text to clipboard
   document.execCommand('copy');
   // Remove temporary element
   document.body.removeChild(el);
}
        
</script>
    
    

 {% endblock %}